* {
    padding: 0;
    margin: 0;
}
header {
    color: rgb(255, 255, 255, .8);
    background-color: rgb(0, 0, 0, 0.8);
    padding: 1em 2em;
}
header h3 {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
header nav {
    float: right;
}
header nav ul {
    display: flex;
    list-style: none;
    bottom: 15px;
    position: relative;
}
header nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255, .4);
    margin-right: 15px;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
#Home {
    padding: 200px 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 300px;
    background-image: url(images/lauren-mancke-aOC7TSLb1o8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#Home h1 {
    font-size: 100px;
    font-family: sans-serif;
    font-weight: 700;
    margin-block-end: 15px;
}
#Home p {
    font-size: 30px;
    font-weight: 400;
}
#Features {
    padding: 5em 0;
    background-color: rgb(255, 255, 255, .4);
}
.container {
    padding: 0 2em;
    display: flex;
    gap: 1em;
}
.text {
    text-align: center;
    padding: 1em 1em;
    background-color: rgb(255, 255, 255, 0.8);
    width: 45%;
}
.text h1 {
    font-size: 40px;
    font-weight: 700;
    display: block;
    color: rgb(0, 0, 0, 0.8);
    font-family: sans-serif;
    margin-block-end: 1.5rem;
}
.text p {
    font-size: 20px;
    font-weight: 700;
    display: block;
    color: rgb(0, 0, 0, 0.4);
    font-family: sans-serif;
    margin-block-end: 1.5rem;
    line-height: 2.5rem;
}
.images {
    display: flex;
    width: 45%;
    gap: 1em;
}
#About {
    padding: 2em 3em;
    background-color: rgb(0, 0, 0, 0.8);
    color: rgb(255, 255, 255, 0.8);
    text-align: center;

}
#About h1 {
    font-size: 40px;
    font-weight: 700;
    display: block;
    font-family: sans-serif;
    margin-block-end: 1.5rem;
}
#About p {
    font-size: 20px;
    font-weight: 700;
    display: block;
    font-family: sans-serif;
    margin-block-end: 1.5rem;
    line-height: 2.5rem;
}
#About ul {
    list-style: none;
    margin-block-start: 2rem;
}
#About ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.8);
    line-height: 2.5rem;
}
footer {
    padding: 2em 3em;
    background-color: rgb(0, 0, 0, 0.8);
    color: rgb(255, 255, 255, 0.8);
    text-align: center;
}

